@import "../../src/pages/variables.scss";
@import "../../src/pages/breakpoints.scss";

.cta {
  background: $dark-blue;
  padding: 120px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 60px 0px 60px 0px;
    text-align: center;
  }
  h2 {
    font-size: 60px;
  }
  h2 {
    color: $white;
  }
  p {
    color: rgba($white, 0.8);
    padding: 20px 0px 20px 0px;
    @include bp-tablet-sm {
      margin-top: 0px;
      min-height: auto;
      padding: 0px;
    }
  }
  a {
    &:focus,
    &:hover {
      border-bottom: none;
    }
  }
  button {
    @include bp-tablet-sm {
      margin-top: 10px;
      margin-bottom: 50px;
    }
  }
}
