@import "../../../src/pages/variables.scss";
@import "../../../src/pages/breakpoints.scss";

.what-we-do {
  background: $dark-blue;
  padding: 60px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 20px 0px 20px 0px;
  }
  h2,
  h3,
  p {
    color: $grey;
  }
  p {
    &#sub {
      width: 75%;
      text-align: center;
      margin: 0 auto;
      padding-top: 20px;
      @include bp-tablet-sm {
        text-align: left;
        width: 100%;
      }
    }
  }
  h2 {
    font-size: 60px;
    @include bp-tablet-sm {
      text-align: left;
    }
  }
  h3 {
    font-size: 30px;
    margin-top: 10px;
  }
  hr {
    border: 1px solid $purple;
    width: 75px;
    margin-top: 60px;
    margin-bottom: 60px;
    @include bp-tablet-sm {
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }
  span {
    background: linear-gradient(
      to top,
      rgba($light-blue, 0.4) 40%,
      transparent 40%
    );
    padding: 0px 5px 0px 5px;
  }
  .item {
    align-items: center;
    p {
      color: rgba($white, 0.8);
    }
  }
  .hide-mobile {
    @include bp-tablet-sm {
      display: none;
    }
  }
  .hide-desktop {
    @media (min-width: 992px) {
      display: none;
    }
  }
}
