@import "../../src/pages/variables.scss";
@import "../../src/pages/breakpoints.scss";

.card {
  background: $dark-grey !important;
  border-radius: 0;
  padding: 100px;
  margin-bottom: 40px;
  @include bp-tablet-sm {
    padding: 50px;
  }
  p {
    margin-top: 30px;
  }
}
