@import "../../../src/pages/variables.scss";
@import "../../../src/pages/breakpoints.scss";

.featured {
  background: $dark-grey;
  padding: 120px 0px 40px 0px;
  @include bp-tablet-sm {
    padding: 60px 0px 0px 0px;
  }
  p {
    &#sub {
      width: 75%;
      margin: 0 auto;
      margin-bottom: 40px;
    }
  }
}
