@import "../../src/pages/variables.scss";
@import "../../src/pages/breakpoints.scss";

form {
  ::placeholder {
    font-family: $body !important;
  }
  input {
    font-family: $body;
  }
  label {
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    &.check {
      font-weight: normal;
      display: block;
    }
    &.how {
      @include bp-tablet-sm {
        margin-bottom: -20px;
      }
    }
    &.url {
      margin-top: 30px;
    }
    &.project {
      @include bp-tablet-sm {
        margin-top: 20px;
      }
    }
  }
  input[type="checkbox"] {
    margin-right: 10px;
  }
  button {
    margin-top: 20px;
  }
  select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ced4da;
    @include bp-tablet-sm {
      margin-top: -20px !important;
      margin-bottom: 20px;
    }
  }
  sup {
    color: red;
  }
}
