@import "../pages/breakpoints.scss";
@import "../pages/variables.scss";

.strategy {
  .intro {
    p {
      font-size: 22px;
      @include bp-tablet-sm {
        font-size: 18px;
      }
    }
    img {
      width: 100px;
      margin-bottom: 20px;
    }
  }
  .pad {
    margin-top: 40px;
  }
  img {
    @include bp-tablet-sm {
      margin-bottom: 40px;
    }
  }
}
