@import "../pages/variables.scss";
@import "../pages/breakpoints.scss";

.home-services {
  padding: 160px 0px 0px 0px;
  @include bp-tablet-sm {
    padding: 30px 0px 30px 0px;
  }
  .card {
    // text-align: center;
    padding: 30px;
    border-radius: 0px;
    img {
      width: 50%;
    }
    h2 {
      font-size: 20px;
      margin-top: 20px;
      @include bp-tablet-sm {
        font-size: 22px !important;
      }
    }
    p {
      margin-top: 0px;
      line-height: 1.6;
    }
    a {
      width: 42%;
    }
  }
}
