@import "../pages/variables.scss";
@import "../pages/breakpoints.scss";

.pricing {
  .card {
    padding: 30px;
    h3 {
      font-size: 28px;
    }
    img {
      width: 100px !important;
      margin-bottom: 30px;
    }
    p {
      margin-top: 0px;
    }
    ul {
      margin-top: 20px;
      margin-bottom: 0px;
      padding-inline-start: 25px;
      li {
        font-size: 16px;
      }
    }
    a {
      &:focus,
      &:hover {
        border-bottom: 2px solid rgba(0, 0, 0, 0);
      }
    }
    button {
      width: 100%;
      margin-top: 20px;
      font-size: 16px !important;
    }
  }
}
