$dark-blue: #fff;
$light-blue: #005c97;
$glow-blue: #092839;
$purple: #363795;
$dark-purple: #00973a;
$white: #000;
$grey: #333;
$dark-grey: #f5f5f5;
$heading: "Poppins", sans-serif;
$body: "Poppins", sans-serif;
