$dark-blue: #fff;
$light-blue: #0f74b1;
$glow-blue: #092839;
$purple: #6d75e3;
$dark-purple: #2a2d56;
$white: #000;
$grey: #333;
$dark-grey: #f5f5f5;
$heading: "Poppins", sans-serif;
$body: "Poppins", sans-serif;
