@import "../pages/breakpoints.scss";
@import "../pages/variables.scss";

.websites {
  margin-bottom: -140px;
  @include bp-tablet-sm {
    margin-bottom: -80px !important;
  }
  .intro {
    p {
      font-size: 22px;
      @include bp-tablet-sm {
        font-size: 18px;
      }
    }
    img {
      width: 100px;
      margin-bottom: 20px;
    }
  }
}
