@import "../pages/breakpoints.scss";
@import "../pages/variables.scss";

.work {
  h3 {
    color: $white;
    margin-bottom: -20px;
  }
  p {
    &.things-done {
      color: rgba($white, 0.8);
      margin-bottom: 10px;
    }
  }
}
