@import "../../../src/pages/variables.scss";
@import "../../../src/pages/breakpoints.scss";

.hero {
  background: url("../../../src/img/hero.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 240px 0px 160px 0px;
  @include bp-tablet-sm {
    margin-top: -60px;
    min-height: auto;
    padding: 140px 0px 0px 0px;
  }
  .bg {
    @include bp-tablet-sm {
      background: rgba($dark-grey, 0.7);
      padding: 20px;
      margin-top: 10px;
    }
  }
  .card {
    background: $light-blue !important;
    text-align: center;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
    @include bp-tablet-sm {
      margin-top: 20px;
    }
    p {
      margin-top: -10px;
      margin-bottom: 0px;
    }
    button {
      background: $dark-purple;
      border: 1px solid $dark-purple;
      border-bottom: 0;
    }
  }

  h1,
  p {
    color: $white;
  }

  p {
    padding: 10px 0px 20px 0px;
    @include bp-tablet-sm {
      padding: 0px 0px 0px 0px;
      margin-bottom: 0px;
    }
  }

  h1 {
    font-size: 60px;
    padding: 30px 0px s0px 0px;
    @include bp-tablet-sm {
      padding: 10px 0px 0px 0px;
      font-size: 34px !important;
      line-height: 1.2;
      margin-bottom: 20px;
    }
  }
  img {
    margin-left: 20px;
    @include bp-tablet-sm {
      margin-top: 20px;
    }
  }
  ul {
    margin-bottom: 0px;
    list-style: none;
    padding-inline-start: 0px;
  }
  span {
    font-weight: bold;
  }
  a,
  button {
    border-bottom: none;
    &:hover,
    &:focus {
      border-bottom: none;
    }
  }
}
