@import "../../../src/pages/variables.scss";

.hero {
  padding: 300px 0px 250px 0px;
  background: url("../../../src/img/niagara-web-design.jpg") center center
    no-repeat;
  background-size: cover;
  margin-top: -70px;
  h1 {
    font-family: $body;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgba($white, 0.5);
  }

  h2,
  p {
    color: $white;
  }

  p {
    padding: 10px 0px 20px 0px;
  }

  h2 {
    font-size: 90px;
    font-weight: 700;
    padding: 30px 0px 20px 0px;
    span {
      background: linear-gradient(to top, $dark-purple 40%, transparent 40%);
      padding: 0px 5px 0px 5px;
    }
  }
  a {
    &:hover,
    &:focus {
      border-bottom: none;
    }
  }
}
