@import "../../../src/pages/variables.scss";
@import "../../../src/pages/breakpoints.scss";

.hero {
  background-image: linear-gradient(
      to bottom,
      rgba($light-blue, 0.85),
      rgba($purple, 0.85)
    ),
    url("../../../src/img/hero.webp");
  background-repeat: none;
  background-position: center center;
  background-size: cover;
  padding: 250px 0px 170px 0px;
  margin-top: -105px;
  @include bp-tablet-sm {
    background-position: unset;
    text-align: left;
    padding: 120px 0px 80px 0px;
    margin-top: 0px;
  }
  p {
    &.results {
      font-weight: 800;
      font-size: 24px;
    }
  }
  h4 {
    &.consult {
      text-align: center;
      color: $dark-blue !important;
      margin-bottom: 0px;
      background: $dark-purple;
      padding: 20px;
    }
  }
  .card {
    padding: 30px;
    background: $glow-blue !important;
    text-align: left;
    @include bp-tablet-sm {
      margin-top: 20px;
      margin-bottom: 0;
    }
    p {
      margin-top: 0px;
    }
  }
  #card-result {
    margin-bottom: 0px;
    background: rgba($glow-blue, 0.4) !important;
  }
  h1,
  h2,
  p {
    color: $dark-grey !important;
  }
  h1 {
    padding: 30px 0px s0px 0px;
    color: $white;
    font-size: 38px;
    margin-bottom: 20px;
    @include bp-tablet-sm {
      padding: 10px 0px 0px 0px;
      font-size: 32px !important;
      line-height: 1.3;
      margin-bottom: 20px;
    }
  }
  h2 {
    font-size: 54px;
    padding: 20px 0px 10px 0px;
    @include bp-tablet-sm {
      line-height: 1.3;
      margin-bottom: 0px;
      width: 100%;
    }
  }
  img {
    margin-left: 20px;
    @include bp-tablet-sm {
      margin-top: 20px;
    }
  }
  ul {
    margin-bottom: 0px;
    padding-inline-start: 20px;
    li {
      color: $dark-blue;
    }
  }
  span {
    font-weight: bold;
  }
  a,
  button {
    border-bottom: none;
    &:hover,
    &:focus {
      border-bottom: none;
    }
  }
  button {
    z-index: 9999;
    position: relative;
    color: $dark-blue;
    border-bottom: 2px solid $purple;
    @include bp-tablet-sm {
      z-index: 1;
      margin-top: 20px;
    }
  }
  form {
    background: rgba($glow-blue, 0.8);
    padding: 20px;
  }
}

.intro-pic {
  margin-top: -540px;
  @include bp-tablet-sm {
    margin-top: 0px;
  }
}
