@import "../../src/pages/breakpoints.scss";
@import "../../src/pages/variables.scss";

.inner-content {
  background: $glow-blue;
  padding: 120px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 60px 0px 60px 0px;
  }
  h1, h2, ul, 
  p {
    color: $white;
  }
  hr {
    border-bottom: 1px solid $purple;
    width: 100px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .single-blog {
    h2, p {
      margin-bottom: 30px;
    }
  }
}
