@import "../../../src/pages/variables.scss";
@import "../../../src/pages/breakpoints.scss";

.process {
  background: $dark-grey;
  padding: 120px 0px 0px 0px;
  @include bp-tablet-sm {
    padding: 60px 0px 0px 0px;
  }
  h2,
  h3 {
    color: $white;
  }
  .subtitle {
    color: rgba($white, 0.5);
  }
  .row {
    margin-top: 40px;
    align-items: center;
    &:first-child {
      margin-top: 0px;
    }
  }
  hr {
    border: 1px solid $purple;
    width: 75px;
    margin-top: 60px;
    margin-bottom: 60px;
    @include bp-tablet-sm {
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }
}
