/*------------------------Mixins-----------------------*/

// Breakpoints

// 1200px
@mixin bp-desktop {
  @media only screen and (max-width: 75em) {
    @content;
  }
}

// 1024px
@mixin bp-tablet {
  @media only screen and (max-width: 64em) {
    @content;
  }
}

// 992px
@mixin bp-tablet-sm {
  @media only screen and (max-width: 62em) {
    @content;
  }
}

// 768px
@mixin bp-mobile {
  @media only screen and (max-width: 48em) {
    @content;
  }
}

// 576px
@mixin bp-mobile-sm {
  @media only screen and (max-width: 36em) {
    @content;
  }
}

/*----------------------Variables---------------------*/

$white: #fff;
$primary: #4285f4;
$light-grey: #f9f9f9;
$dark-grey: #232222;
$light-blue: #436b92;
$dark-blue: #002f4b;
$orange: #dc4225;

/*-----------------------General----------------------*/

h1,h2,h3,h4,h5,h6 {
	letter-spacing: 1px;
  font-family: 'Source Sans Pro', sans-serif;
  color: $primary;
  font-weight: bold !important;
	line-height: 1.6;
	margin-bottom: 20px;
	@include bp-tablet {
		line-height: 1.4;
	}
}

h1 {
	font-size: 40px;
	@include bp-mobile {
		font-size: 32px;
	}
}

h2 {
	font-size: 2.25rem;
	@include bp-mobile {
		font-size: 30px;
	}
}

h3 {
	font-size: 30px;
	@include bp-mobile {
		font-size: 24px;
	}
}

h4 {
	font-size: 24px;
	@include bp-mobile {
		font-size: 18px;
	}
}

h5 {
	font-size: 20px;
	@include bp-mobile {
		font-size: 14px;
	}
}

h6 {
	font-size: 18px;
	@include bp-mobile {
		font-size: 12px;
	}
}

ul,ol,p {
  font-family: "Roboto", sans-serif;
  color: $light-blue;
  line-height: 1.8;
  font-size: 18px;
}

a {
	transition: .2s;
	color: $primary;
	&:hover {
		text-decoration: underline;
	}
}

.btn-primary {
  color: $white;
	transition: .2s;
	background: linear-gradient(to right, #412caf, #0671bc);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
	padding: 15px 65px 15px 65px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	border-radius: 0px;
	border: 0;
	&:hover, &:focus {
		box-shadow: 0px 5px 20px #afafaf;
		transform: translate3D(0,-5px,0);
		cursor: pointer;
	}
	@include bp-mobile {
		width: 100%;
	}
}

.inner-hero {
  margin-top: 65px;
  padding-top: 100px;
  padding-bottom: 100px;
	background-image: linear-gradient(to right, #412caf, #0671bc);
	@include bp-tablet-sm {
		margin-top: 60px;
	}
  h1 {
    color: $white;
  }
  h1 {
    margin-bottom: 0px;
  }
  p {
    color: #d6d6d6;
  }
}

.inner-content {
  padding-top: 100px;
	padding-bottom: 100px;
	@include bp-tablet {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}