@import "../../../src/pages/variables.scss";
@import "../../../src/pages/breakpoints.scss";

.clients {
  background: $dark-grey;
  padding: 0px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 60px 0px 60px 0px;
  }
  h2,
  p {
    color: $white;
  }
  h2 {
    font-size: 60px;
  }
  span {
    background: linear-gradient(
      to top,
      rgba($light-blue, 0.4) 40%,
      transparent 40%
    );
    padding: 0px 5px 0px 5px;
  }
  hr {
    border: 1px solid $purple;
    width: 75px;
    margin-top: 60px;
    margin-bottom: 60px;
    @include bp-tablet-sm {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}
